body {
  background: $color-light;
  color: $color-dark;

  &.is-sticky {
    overflow: hidden;
  }
}

a {
  color: $color-dark;
  text-decoration: none;
}

nav {
  position: absolute;
  top: 2rem;
}

header {
  background-image: url('../images/header.jpg');
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 196dpi),
    only screen and (min-resolution: 2dppx) {
    background-image: url('../images/header@2x.jpg');
  }
}
