.movie {
  padding: 2.5rem;
  background-color: $color-light;
}



/*
 * movie header
 */

.movie__header {
  display: table;
  width: calc(100% + 5rem);
  height: 155px;
  padding: 4rem 2.5rem 2.5rem;
  margin: -2.5rem -2.5rem 2rem;
  background: $color-gray-dark url('../images/header.jpg') no-repeat center center;
  background-size: cover;
  color: $color-light;

  @include hi-res('../images/header@2x.jpg');

  a {
    color: $color-light;
  }
}

.movie__title,
.movie__rating {
  display: table-cell;
  height: 100%;
  vertical-align: bottom;
}

.movie__rating {
  position: relative;
  bottom: 6px;
  width: 66px;
  border: 2px solid $color-main;
  color: $color-main;
  text-align: center;
  vertical-align: top;
}

.movie__rating__value {
  display: block;
  padding: 11px 9px;
  margin-bottom: 6px;
  background-color: $color-main;
  color: $color-light;

  &:after {
    height: 9px;
  }
}



/*
 * movie card
 */

.movie__genre,
.movie__info,
.movie__person {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.movie__genre__item {
  display: inline-block;

  a {
    display: block;
    padding: .3rem .6rem;
    border: 1px solid $color-gray-light;
    margin-right: 1rem;
    color: $color-gray-light;
    line-height: 1;
    border-radius: 999em;
  }
}

.movie__description {
  margin-right: 3rem;
  margin-bottom: 3.6rem;
}

.movie__info {
  overflow: hidden;
  margin-bottom: 3.6rem;
}

.movie__info__item {
  float: left;
  width: 33%;
}

.movie__job-title {
  margin: 0;
}

.movie__person {
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 5rem;
  }
}

.movie__person__name {
  display: inline;

  .is-block & {
    display: list-item;
  }

  span {
    color: $color-main;
  }

  &:not(:last-child):after {
    content: ', ';
  }
}

.movie__trailer {
  position: relative;
  margin: 0 2rem 1.7rem 0;
  height: 0;
  padding-top: 58%;
}

.movie__trailer__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie__trailer__legend {
  position: absolute;
  top: 1rem;
  left: 1.2rem;
  color: $color-light;
}
