.review__list {
  padding: 0;
  list-style-type: none;
}

.review__item__rating {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  &:after {
    height: 20px;
  }

  span {
    display: none;
  }
}

.review__item__title {
  margin-bottom: .8rem;
}

.review__item__author {
  display: inline-block;
}

.review__item__body {
  margin: 0 3rem 3rem 0;

  .more {
    color: $color-main;
    white-space: nowrap;
  }
}
